

body {
  display: flex;
  justify-content: space-evenly;
  color: rgb(69, 68, 68);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.navbar.bg-primary {
  background-color: rgb(118, 211, 242);
}

.homelogo{
  width: 50px;
}

/* home page css*/
.hometext{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.homebundle{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
}

.homeimgs{
  width: 1200px;
}

.beersimg{
  width: 100px;
}

/*beers css*/

.allbeers{
display: grid;
grid-template-columns: repeat(3,1fr);
margin: 30px;
}

.beer-list{
  display: grid;
 grid-template-columns: repeat(5,5fr);
 border: 10px;
}

.beer-item{
  margin: 10px;
  border: 10px;
  padding: 10px;
}

/*random beer*/
.randombeer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


